*node_modules*
*/.next/*
client/.tmp-tests

# Local environment files may contain credentials.
.env
.env.*
!.env.example

server/tmp/*
server/sample.json
server/build-errors.log

*.gocache/
*localcache/


*gocache*
*gopath*
*build.out
*build.raw
current_git_diff.txt
media/

server/server

client/.tmp-tests

*__pycache__*
